h2,
h3 {
  text-align: left;
  margin: var(--margin);
}

/* allDateList */
/* .allDates {
  width: 100%;
  overflow-x: scroll;
} */

.allDates table,
.summary table,
.detail table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: var(--margin);
  display: flex;
}

.summary thead,
.detail thead {
  display: flex;
  background-color: rgb(178, 252, 178);
}

.allDates tbody,
.summary tbody,
.detail tbody {
  display: flex;
  overflow-x: scroll;
}

.allDates th,
.allDates td,
.summary th,
.summary td,
.detail th,
.detail td {
  /* width: 50px; */
  overflow: hidden;
  display: block;
  border: 0.5px solid black;
  padding: 5px;
  text-align: center;
}

.allDates .headRow {
  height: 50px;
}
.summary .headRow,
.detail .headRow {
  height: 20px;
}

.allDates tbody th {
  font-size: 80%;
}
.allDates tbody th,
.allDates tbody td {
  width: 50px;
}
.allDates tbody:hover {
  cursor: pointer;
}

/* ok */
.summary tbody th,
.summary tbody td {
  width: 60px;
}
.detail tbody th,
.detail tbody td {
  width: 60px;
  height: 20px;
}

.detail thead tr:nth-child(1) th {
  width: 100px;
  /* font-size: 50%; */
  overflow: hidden;
}
.detail thead th {
  height: 20px;
}

.markerCol {
  width: 30px;
}

.dateInfo {
  position: absolute;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 3px;
  color: #565656;
  background-color: rgb(255, 254, 213);
  padding: 3px;
  line-height: 1.5;
  z-index: 1;
}

.selected {
  background-color: limegreen;
}
.suggested {
  background-color: palegreen;
}
.exclude {
  background-color: #777;
}

/* schedule */
/* .summary,
.detail {
  display: flex;
  margin: 5px;
}

.summaryBody,
.detailBody {
  width: 100% - 200px;
  overflow-x: scroll;
}

.summary table,
.detail table {
  border-collapse: collapse;
  border: 1px solid black;
}

.summary th,
.summary td,
.detail th,
.detail td {
  min-width: 50px;
  border: 0.5px solid black;
  padding: 5px;
} */

.detailTitle:hover {
  cursor: pointer;
}
#toggleDetail {
  display: none;
}

.downArrow {
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color: transparent transparent #565656 #565656;
  transform: rotate(-45deg);
}
