:root {
  --margin: 10px;
  --border-rad: 10px;
}

header {
  text-align: center;
  height: 50px;
}

#contents {
  display: flex;
  justify-content: space-between;
}

#main {
  width: 80%;
}

#aside {
  width: 20%;
  background-color: aquamarine;
  border-radius: var(--border-rad);
}

#sidebar-container {
  position: sticky;
  top: var(--margin);
  height: calc(100vh - var(--margin));
}
