:root {
  --margin: 10px;
  --border-rad: 10px;
}

header {
  text-align: center;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #35a219;
}
header h1 {
  height: 40px;
  margin: calc(2 * var(--margin));
}

.content-box {
  margin-top: 80px;
}

#main {
  width: 80%;
}

#aside {
  width: 20%;
  height: calc(100vh - var(--margin));
  position: fixed;
  top: 80px;
  left: 80vw;
  background-color: aquamarine;
  border-radius: var(--border-rad) 0 0 var(--border-rad);
}
